body {
  color: darkslategrey;
}

.App {
  text-align: center;
}

@media (min-width: 768px) {
  .leaderboard {
    max-width: 768px;
  }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    color: white;
    text-align: center;
}
